{% extends "base.html" %}

{% block body %}

<div  class = "d-flex justify-content-center align-items-center" style = "height : 85vh">
    
    <form action="{{ url_for('auth') }}" method = "post" style = "width: 30rem;" class = "mt-sm-4 shadow-lg p-sm-3">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                <div style ="background-color: red;color : white;text-align: center;padding:2rem">{{ messages[0] }}</div>
            </div>
        {% endif %}
    {% endwith %}
        <input class = "form-control mt-sm-2" type = "text" placeholder="Enter your user name" name = "username"/>
        <input class = "form-control mt-sm-2" type = "password" placeholder="Enter your password" name ="password"/>
        <input class = "form-control btn btn-success mt-sm-4" type = "submit" value = "Login"/>
    
    </form>
</div>
{% endblock %}