{% extends "base.html" %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger text-light bg-danger">
        {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
    </div>
{% endif %}
{% endwith %}
<div>
    <form action="{{ url_for('change_pass') }}" method = "post">
        <input type = "password" placeholder="Enter your old password" name = "old_pass"/>
        <input type = "password" placeholder="Enter your new password" name = "new_pass"/>
        <input type = "submit" value = "Change password"/>
    </form>
</div>
{% endblock %}