{% extends "base.html" %}

{% block body %}
<div  class = "d-flex justify-content-center align-items-center" style = "height : 85vh">
    <form action="{{ url_for('reg') }}" method = "post" style = "height: 14rem; width: 30rem;" class = "mt-sm-4 shadow-lg p-sm-3">
        <input class = "form-control" type = "text" placeholder="Enter your name" name = "name"/>
        <input class = "form-control mt-sm-2" type = "text" placeholder="Enter your user name" name = "username"/>
        <input class = "form-control mt-sm-2" type = "password" placeholder="Enter your password" name ="pass"/>
        <input class = "form-control btn btn-success mt-sm-4" type = "submit" value = "Signup"/>
    </form>
</div>
{% endblock %}